---
layout: default
title: The Alderley Edge Village Show
---
<header>
    <div class="container">
        <div class="column">
            <div>
                <h1>Alderley Edge Village Show 2024</h1>
                <p>We welcome back the Village Show in 2024 to celebrates Crafts, Nature, Creativity and
                    Community...</p>
                <div class="buttons">
                    <div class="button">
                        <a href="#categories">See the Categories</a>
                    </div>
                    <div class="button">
                        <a href="#schedule">See the Schedule</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <img alt="Alderley Edge Village Show" src="{{ site.baseurl }}/images/logo-min.png">
        </div>
    </div>
</header>

<div class="container">
    <div class="columns">
        <div>
            <img alt="collage" src="{{ site.baseurl }}/images/photo-collage-min.png">
        </div>
        <div>
            <h3>{% include icons/site.html icon="calendar" %}Saturday 31st August 2024</h3>

            <p>This years show will be held at <b>Festival Hall</b>, <i>Talbot Road, Alderley Edge. SK9 7HR</i></p>
            <div class="button">
                <a target="_blank"
                   href="https://maps.google.com/maps?q=Festival+Hall%2C+Talbot+Road+Alderley+Edge+Alderley+Edge+SK9+7+United+Kingdom&sll=53.30326,-2.23309">Find
                    Festival Hall</a>
            </div>

        </div>
    </div>
</div>

<div class="darker">
    <div class="container" id="categories">
        <h2 class="title">Categories</h2>
        <hr>
        <ul class="thirds">
            <li>
                <div class="image">{% include icons/site.html icon="tomato" %}</div>
                <h3>Fruit &amp; Vegetables</h3>
                <p>The original &amp; biggest category, perfectly dressed Onions to the longest runner
                    bean.</p>
            </li>
            <li>
                <div class="image">{% include icons/site.html icon="craft" %}</div>
                <h3>Domestic Crafts</h3>
                <p>Including Knitting, Crochet, Embroidery, cross-stitch or anything creative.</p>
            </li>
            <li>
                <div class="image">{% include icons/site.html icon="camera" %}</div>
                <h3>Photography</h3>
                <p>Whether Digital or Film, enter your snapshots that capture subjects or landscapes.</p>
            </li>
            <li>
                <div class="image">{% include icons/site.html icon="cooking" %}</div>
                <h3>Cookery</h3>
                <p>From Bread to Cake to Jams and Chutney, a category for all the tasty delights.</p>
            </li>
            <li>
                <div class="image">{% include icons/site.html icon="flower" %}</div>
                <h3>Flowers</h3>
                <p>Get growing your beautiful Gladioli &amp; Dahlias, or blow the judges away with a
                    special Cactus or Succulent</p>
            </li>
            <li>
                <div class="image">{% include icons/site.html icon="children" %}</div>
                <h3>Under 18's</h3>
                <p>Let the young ones be creative and show their talents.</p>
            </li>
            <li>
                <div class="image">{% include icons/site.html icon="heart" %}</div>
                <h3>New Entrants</h3>
                <p>A category for the Newcomers, dip your toe in the water of the show, next year you could
                    be show winner.</p>
            </li>
        </ul>
    </div>
</div>

<div class="container" id="schedule">
    <h2 class="title">Schedule Of Classes</h2>
    <hr>
    <div>
        <p>
            The 2024 Schedule of Classes is currently being finalised by the committee, please check back here soon or
            follow us on Social Media for updates.
        </p>
        <!--        <p>This year's Schedule of Classes and Entry-Form will be available to collect from the following locations from-->
        <!--            June onwards, or click the Download link below to print one for yourself.</p>-->
        <!--        <div class="thirds">-->
        <!--            <ul class="no-bullets">-->
        <!--                <li><p>Alderley Edge Library</p></li>-->
        <!--                <li><p>Festival Hall</p></li>-->
        <!--                <li><p>Grantham's</p></li>-->
        <!--                <li><p>St. Philips Church</p></li>-->
        <!--            </ul>-->
        <!--            <ul class="no-bullets">-->
        <!--                <li><p>Wilmslow Guild</p></li>-->
        <!--                <li><p>Wilmslow Leisure Centre</p></li>-->
        <!--                <li><p>Wilmslow Garden Centre</p></li>-->
        <!--                <li><p>Methodist Church</p></li>-->
        <!--            </ul>-->
        <!--            <ul class="no-bullets">-->
        <!--                <li><p>Mottram Village Hall</p></li>-->
        <!--                <li><p>Woodford Garden Centre</p></li>-->
        <!--                <li><p>Parkers Garden Centre</p></li>-->
        <!--                <li><p>Nether Alderley Church</p></li>-->
        <!--            </ul>-->
        <!--        </div>-->
        <!--        <h3 class="title">Download the entry form here...</h3>-->
        <!--        <div class="button  align-center">-->
        <!--            <a download href="/images/village-show-schedule-2023.pdf">{% include icons/site.html icon="download" %}-->
        <!--                Download the Entry Form</a>-->
        <!--        </div>-->
        <!--        <p class="align-center">Its not about the winning it's about the taking part...</p>-->
    </div>
</div>

<div class="darker">
    <div class="container">
        <div class="align-center">
            <span class="image">{% include icons/site.html icon="charity" %}</span>
        </div>
            <h2 class="title">Supporting Charity</h2>
        <hr>
        <div class="columns">
            <div>
                <p>We are proud to announce that for 2024 the chosen charity is <strong>East Cheshire Hospice</strong>.
                </p>
            </div>
            <div class="align-center">
                <a href="https://www.eastcheshirehospice.org.uk/" target="_blank">
                    <img alt="East Cheshire Hospice" src="{{ site.baseurl }}/images/eastcheshirehospice.png"></a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <a class="instagram align-center" target="_blank"
       href="https://www.instagram.com/{{ site.data.company.instagram }}">
        {% include icons/social-media.html social_icon="instagram" %}
    </a>
    <h2 class="title">Instagram</h2>
    <p></p>
    <hr>
    <div class="taggbox" style="width:100%;height:100%" data-widget-id="138479" data-tags="false"></div>
    <script src="https://widget.taggbox.com/embed-lite.min.js" type="text/javascript"></script>
</div>

<!--<div class="darker">-->
<!--	<div class="container">-->
<!--		<h2 >Hear more about the show...</h2>-->
<!--		<p  style="text-align: center;">Sign up to hear the latest news and progress from the Alderley Edge Village Show.</p>-->
<!--		<form action="{{ site.newsletter_action }}" method="post">-->
<!--			<input type="text" name="EMAIL" placeholder="Email">-->
<!--			<input type="submit" value="Sign up"/>-->
<!--		</form>-->
<!--	</div>-->
<!--</div>-->

<!--<div class="darker">-->
<!--    <div class="container">-->
<!--        <h2>Download the Entry Form</h2>-->
<!--        <p class="align-center">Its not about the winning it's about the taking part...</p>-->
<!--        <div class="button  align-center">-->
<!--            <a download href="/images/village-show-entry-form-v0.1.pdf">{% include icons/site.html icon="download" %}-->
<!--                Download the Entry Form</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container" id="donate">-->
<!--	<h2 >Make a donation</h2>-->
<!--	<div class="donate">-->
<!--		{{ site.donation_embed }}-->
<!--	</div>-->
<!--</div>-->

<!--<div class="darker">-->
<!--	<div class="container">-->
<!--		<div class="posts">-->
<!--			{% for post in site.posts %}-->
<!--				<div class="post">-->
<!--					<div class="image" style="background-image: url({{ post.featured_image}})"></div>-->
<!--					<div class="post-content">-->
<!--						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>-->
<!--						<h3>{{ post.title }}</h3>-->

<!--						{{ post.content }}-->
<!--						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>-->
<!--					</div>-->
<!--				</div>-->
<!--			{% endfor %}-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


